body {
    background-color: lightgrey !important;
}

.panel-heading {
    background-color: rgb(3, 3, 119) !important;
    color: linen !important;
}

#footer {
    background-color: rgb(3, 3, 119) !important;
    min-height: 32px !important;
}
.nav {
    min-height: 32px !important;
    background: white;
    color: rgb(3, 3, 119) !important;
}

.navbar-brand   {
    color: linen !important;
    background-color: rgb(3, 3, 119) !important; 
}

.navbar-header {
    padding-left: 10px;
    background-color: white;
    font-size: 20pt !important;
}

.nav li {
    display: inline;
    padding: 10px;
    margin-right: 1px;
    margin-left: 1px;
    cursor: pointer;
    border-radius: 3px;
    color: linen !important;
}

.nav li a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: linen;
    text-decoration: none;
}

.summary {
    padding-top: 80px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.viz    {
    padding-top: 80px;
    padding-right: 50px;
}

.comparison {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.title  {
    text-align: center;
    /* padding-left: 100px !important; */
    font-size: 20pt !important;
    color: rgb(3, 3, 119) !important;
}

.data   {
    padding: 100px;
}